<template>
  <v-app id="inspire">
    <v-app-bar app clipped-left dark>
      <v-row justify="center">
        <p class="headline mt-4 font-weight-bold">DragonFly Events</p>
      </v-row>
    </v-app-bar>

    <v-content>
      <router-view />
    </v-content>

    <v-bottom-navigation class="btm-nav" v-model="bottomNav">
      <v-btn @click="showAllEvents" value="recent">
        <span>All Events</span>
        <v-icon>mdi-history</v-icon>
      </v-btn>

      <v-btn @click="showMyEvents" value="favorites">
        <span>My Events</span>
        <v-icon>mdi-heart</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data: () => ({
    drawer: null,
    bottomNav: 'recent',
    navDrawerColor: 'grey lighten-3',
    treeNav: [
      {
        id: 1,
        name: 'Events',
        children: [
          { id: 2, name: 'Events', to: '/events', file: 'account-multiple' }
        ]
      }
    ],
    items: [
      { title: 'My Events', to: '/userEvents', icon: 'mdi-tools' }
    ]
  }),
  created () {
    return new Promise((resolve, reject) => {
      let request = window.indexedDB.open('Events', 1)

      request.onerror = e => {
        console.log('Error opening db', e)
        // eslint-disable-next-line prefer-promise-reject-errors
        reject('Error')
      }

      request.onsuccess = e => {
        resolve(e.target.result)
      }

      request.onupgradeneeded = e => {
        console.log('onupgradeneeded')
        let db = e.target.result
        // eslint-disable-next-line no-unused-vars
        let objectStore = db.createObjectStore('events', { autoIncrement: true, keyPath: 'id' })
      }
    })
  },
  methods: {
    showAllEvents () {
      this.$store.commit('events/setMyEvents', false)
    },
    showMyEvents () {
      this.$store.commit('events/setMyEvents', true)
    }
  }
}
</script>
<style>
  .btm-nav {
    position: fixed !important;
    bottom: 0 !important;
  }
  .v-application a {
    /* color: rgba(0, 0, 0, 0.87) !important; */
    text-decoration: none;
  }
  .v-application a:hover {
    color: #34657F !important;
  }
</style>
