<template>
  <div class="home mb-12">
    <div v-if="!showMyEvents">
    <v-row v-if="loading && !respHasError">
      <v-col
        v-for="n in 12"
        :key="n"
        cols="12"
        sm="4">
        <v-skeleton-loader
          ref="skeleton"
          :loading="loading"
          :transition="transition"
          :boilerplate="false"
          type="list-item-avatar-three-line"
          :tile="false"
          class="mx-auto">
        </v-skeleton-loader>
      </v-col>
    </v-row>
    <v-row class="pa-4" style="display: flex" v-else>
      <v-col v-for="(ev, index) in eventList" :key="index" cols="12" md="3" sm="4">
        <v-card
          class="mx-auto"
          max-width="344"
          outlined>
          <v-list-item three-line>
            <v-list-item-content
              style="cursor: pointer"
              @click="eventSelected(ev)">
              <div class="overline mb-4">EVENT</div>
              <v-avatar
                size="80">
                <img
                  :id="ev.id"
                  src="@/assets/placeholder.jpg"
                  alt="Event Image">
              </v-avatar>
              <v-list-item-title class="headline mb-1">{{ ev.name }}</v-list-item-title>
              <v-list-item-subtitle>{{ ev.description }}</v-list-item-subtitle>
              <v-divider></v-divider>
              <v-list-item-subtitle>{{ ev.location.name }}</v-list-item-subtitle>
              <v-list-item-subtitle>{{ ev.location.address }}</v-list-item-subtitle>
              <v-list-item-subtitle>{{ ev.location.city }}, {{ ev.location.state }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <v-btn @click="forwardEvent(ev)" text>SHARE</v-btn>
            <v-spacer></v-spacer>
            <v-checkbox
              :value="ev.id"
              v-model="attendingAry"
              @change="attendingCheck(ev.id, $event)"
              label="Attending"
            ></v-checkbox>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-btn @click="loadMoreEvents" text small>Load more events</v-btn>
    </v-row>
    </div>
    <div v-else>
      <v-row class="pa-4" style="display: flex">
      <v-col v-for="(ev, index) in myEventsAry" :key="index" cols="12" md="3" sm="4">
        <v-card
          class="mx-auto"
          max-width="344"
          outlined>
          <v-list-item three-line>
            <v-list-item-content
              style="cursor: pointer"
              @click="eventSelected(ev)">
              <div class="overline mb-4">EVENT</div>
              <v-avatar
                size="80">
                <img
                  :id="ev.id"
                  src="@/assets/placeholder.jpg"
                  alt="Event Image">
              </v-avatar>
              <v-list-item-title class="headline mb-1">{{ ev.name }}</v-list-item-title>
              <v-list-item-subtitle>{{ ev.description }}</v-list-item-subtitle>
              <v-divider></v-divider>
              <v-list-item-subtitle>{{ ev.location.name }}</v-list-item-subtitle>
              <v-list-item-subtitle>{{ ev.location.address }}</v-list-item-subtitle>
              <v-list-item-subtitle>{{ ev.location.city }}, {{ ev.location.state }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <v-btn @click="forwardEvent(ev)" text>SHARE</v-btn>
            <v-spacer></v-spacer>
            <v-checkbox
              :value="ev.id"
              v-model="attendingAry"
              @change="attendingCheck(ev.id, $event)"
              label="Attending"
            ></v-checkbox>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    </div>
    <v-bottom-sheet v-model="sheet" :inset="true" :hide-overlay="true">
      <v-sheet class="text-center" height="200px">
        <div>
          <v-banner single-line>
            <span class="headline">{{ eventName }}</span>
            <template v-slot:actions>
              <span class="headline">{{ formatDate(eventDate) }}</span>
              <!-- <v-btn
                text
                color="deep-purple accent-4">
                SHARE
              </v-btn>
              <v-checkbox
                @change="attendingCheck(eventId)"
                label="Attending"
              ></v-checkbox> -->
            </template>
          </v-banner>
          <v-row justify="center">
            <span class="body-1">{{ eventLocation.name }}</span>
          </v-row>
          <v-row justify="center">
            <span class="body-1">{{ eventLocation.address}}</span>
          </v-row>
          <v-row justify="center">
            <span class="body-1">{{ eventLocation.city }}, {{ eventLocation.state }}</span>
          </v-row>
          <br>
          <v-row justify="center">
            <h2 class="caption">Comments</h2>
          </v-row>
          <v-row>
            <v-carousel
              v-model="model"
              light
              :show-arrows="false"
              :hide-delimiters="true"
              :cycle="true"
              height="200">
              <v-carousel-item
                v-for="(com, index) in eventComments"
                :key="index">
                  <v-row
                    class="pa-4"
                    align="center"
                    justify="center">
                    <v-card>
                      <v-card-subtitle>{{ com.from }}</v-card-subtitle>
                      <v-card-text>{{ com.text }}</v-card-text>
                    </v-card>
                  </v-row>
              </v-carousel-item>
            </v-carousel>
          </v-row>
        </div>
        <v-btn
          class="mt-6"
          text
          color="red"
          @click="sheet = !sheet">Close</v-btn>
      </v-sheet>
    </v-bottom-sheet>
    <v-snackbar
      v-model="errorAlert"
      :timeout="5000"
      top
      multi-line>
      Error loading data from server..<br>
      Loading cached data...
      <v-btn
        color="blue"
        text
        @click="errorAlert = false">
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
// import axios from 'axios'
export default {
  name: 'home',
  data () {
    return {
      itemsPerPageOptions: [4, 8, 12],
      myEvents: false,
      loading: true,
      sheet: false,
      errorAlert: false,
      myEventsAry: [],
      attendingAry: [],
      transition: 'scale-transition',
      eventId: '',
      eventName: '',
      eventLocation: {},
      eventDate: '',
      eventComments: [],
      model: 0,
      finished: false,
      perPage: 20,
      offset: 20
    }
  },
  computed: {
    eventList () {
      return this.$store.getters['events/getEventList']
    },
    respHasError () {
      return this.$store.getters['events/hasError']
    },
    errorMessage () {
      return this.$store.getters['events/getErrorMessage']
    },
    showMyEvents () {
      return this.$store.getters['events/getMyEvents']
    }
  },
  watch: {
    respHasError: function (val) {
      if (val) {
        this.errorAlert = true
        this.$store.dispatch('events/getCachedData')
      }
    }
  },
  async created () {
    await this.$store.dispatch('events/refreshEventList')
    await this.isUserAttending()
    this.loading = false
  },
  methods: {
    eventSelected (event) {
      this.eventId = event.id
      this.eventName = event.name
      this.eventLocation = event.location
      this.eventDate = event.date
      this.eventComments = event.comments
      this.sheet = true
    },
    async loadMoreEvents () {
      await this.$store.dispatch('events/loadMoreEvents')
      this.isUserAttending()
    },
    async isUserAttending () {
      this.eventList.forEach(async (val) => {
        const attending = await this.$store.dispatch('events/checkIfComing', val.id)
        if (attending) {
          this.attendingAry.push(val.id)
          this.myEventsAry.push(val)
          return true
        }
      })
    },
    imageSrc (event) {
      if (event.images[0] !== undefined) {
        const imageDto = {
          eventId: event.id,
          imageId: event.images[0].id
        }
        var xmlHTTP = new XMLHttpRequest()
        xmlHTTP.open('GET', `http://dev.dragonflyathletics.com:1337/api/dfkey/events/${imageDto.eventId}/media/${imageDto.imageId}`, true)
        xmlHTTP.setRequestHeader('Authorization', 'Basic ' + btoa('evaluser:evalpass'))

        // Must include this line - specifies the response type we want
        xmlHTTP.responseType = 'arraybuffer'

        xmlHTTP.onload = function (e) {
          var arr = new Uint8Array(this.response)

          // Convert the int array to a binary string
          // We have to use apply() as we are converting an *array*
          // and String.fromCharCode() takes one or more single values, not
          // an array.
          var raw = String.fromCharCode.apply(null, arr)

          // This works!!!
          var b64 = btoa(raw)
          var dataURL = 'data:image/jpeg;base64,' + b64
          // document.getElementById('image').src = dataURL
          document.getElementById(event.id).src = dataURL
          return dataURL
        }

        xmlHTTP.send()
        // eslint-disable-next-line no-unused-vars
        // axios.get(`events/${imageDto.eventId}/media/${imageDto.imageId}`, {
        //   auth: {
        //     username: 'evaluser',
        //     password: 'evalpass'
        //   },
        //   headers: {
        //     'Content-Type': 'blob'
        //   }
        // }).catch((ex) => {
        //   console.log('Error' + ex)
        // }).then((resp) => {
        //   // let reader = new FileReader()
        //   // reader.readAsDataURL(resp.data)
        //   // console.log('Reader: ' + reader.result)
      }
    },
    forwardEvent (event) {
      window.location.href = `mailto:?subject=Event Name: ${event.name}&body=Address:${event.location.name}`
    },
    attendingCheck (id, $event) {
      if (this.attendingAry.includes(id)) {
        const attending = {
          id: id,
          isAttending: true
        }
        this.$store.dispatch('events/addEvent', attending)
      } else {
        const attending = {
          id: id,
          isAttending: false
        }
        this.$store.dispatch('events/addEvent', attending)
      }
    },
    formatDate (dateStr) {
      const index = dateStr.indexOf('T')
      const newDate = dateStr.substring(0, index)
      return newDate
    }
  }
}
</script>
<style>
  .v-bottom-sheet {
    height: 28em !important;
    background-color: white;
    margin-bottom: 3.5em !important;
  }
  .v-carousel {
    width: 90% !important;
    margin: 0 auto;
  }
</style>
