<template>
  <div class="clients pa-4">
    <v-switch
      class="mb-2"
      v-model="tblSwitch"
      :label="switchLabel"
      color="primary"
      @change="switchChanged"
      hide-details>
    </v-switch>
    <div v-show="tblSwitch">
      <v-card>
        <v-card-title>
          Clients
          <v-spacer></v-spacer>
          <v-autocomplete
            v-model="search"
            :items="allClients"
            :search-input.sync="searchSync"
            hide-no-date
            hide-selected
            item-text="client_name"
            item-value="client_name"
            label="Search Clients"
            placeholder="e.g. Rush"
            prepend-icon="mdi-magnify"
            clearable
            @click:clear="clearedSearch"
            return-odject
            v-on:keyup.enter="enterKeySearchClients"
            @input="autoComSearchClients">
          </v-autocomplete>
        </v-card-title>
        <!-- <v-data-table
          :headers="headers"
          :items="clientList"
          :items-per-page="tblPerPage"
          :page.sync="page"
          hide-default-footer
          @page-count="pageCount = $event"
          :mobile-breakpoint="1"
          :loading="isLoading"
          dense
          fixed-header
          height="calc(65vh - 10px)"
          class="elevation-1 clients-tbl">
          <template v-slot:item.client_name="props">
            <v-edit-dialog
              :return-value.sync="props.item.client_name"
              large>
              <div>{{ props.item.client_name }}</div>
              <template v-slot:input>
                <div class="mt-4 title">Update Client Name</div>
              </template>
              <template v-slot:input>
                <v-text-field
                  v-model="props.item.client_name"
                  label="Edit"
                  single-line
                  autofocus
                ></v-text-field>
              </template>
            </v-edit-dialog>
          </template>
          <template v-slot:item.client_status_id="{ item }">
            <span v-if="item.client_status_id === 1001">
              <v-chip small color="success">Active</v-chip>
            </span>
            <span v-else>
              <v-chip small color="error">Inactive</v-chip>
            </span>
          </template>
          <template v-slot:item.modified_time="{ item }">
            {{ new Date(item.modified_time).toUTCString() }}
          </template>
          <template v-slot:item.gross_or_net="props">
            <v-edit-dialog
              :return-value.sync="props.item.gross_or_net"
              large>
              <div>{{ props.item.gross_or_net }}</div>
              <template v-slot:input>
                <div class="mt-4 title">Update Funding Status</div>
              </template>
              <template v-slot:input>
                <v-select
                  :items="funding"
                  :error-messages="fundingStatusErrors"
                  v-model="props.item.gross_or_net"
                  label="Funding Status"
                  required
                  @input="$v.gross_or_net.$touch()"
                  @blur="$v.gross_or_net.$touch()">
                </v-select>
              </template>
            </v-edit-dialog>
          </template>
          <template v-slot:item.is_recourse="{ item }">
            <span v-if="item.is_recourse">
              Recourse
            </span>
            <span v-else>
              Non-Recourse
            </span>
          </template>
        </v-data-table> -->
        <v-simple-table
          dense
          height="calc(65vh - 10px)"
          fixed-header
          class="elevation-1 clients-tbl">
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">Client
                  <div class="columns-resize-bar"></div>
                </th>
                <th class="text-left">Status
                  <div class="columns-resize-bar"></div>
                </th>
                <th class="text-left">Last Modified
                  <div class="columns-resize-bar"></div>
                </th>
                <th class="text-left">Gross/Net
                  <div class="columns-resize-bar"></div>
                </th>
                <th class="text-left">Recourse</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(client, index) in clientList" :key="index">
                <td>({{ client.client_id }})&nbsp;{{ client.client_name }}</td>
                <td>
                  <span v-if="client.client_status_id === 1001">
                    <v-chip small color="success">Active</v-chip>
                  </span>
                  <span v-else>
                    <v-chip small color="error">Inactive</v-chip>
                  </span>
                </td>
                <td>{{ new Date(client.modified_time).toUTCString() }}</td>
                <td>{{ client.gross_or_net }}</td>
                <td>{{ client.is_recourse }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card>
    </div>
    <div v-show="!tblSwitch">
      <v-data-iterator
      :items="clientList"
      :items-per-page.sync="itemsPerPage"
      :footer-props="{ itemsPerPageOptions }">
      <template v-slot:default="props">
        <v-row>
          <v-col
            v-for="item in props.items"
            :key="item.client_id"
            cols="12"
            sm="6"
            md="4"
            lg="3">
          <v-card>
            <v-card-title>
              <h4 class="success--text">({{ item.client_id }})</h4>&nbsp;
                <v-edit-dialog
                  :return-value.sync="item.client_name"
                  large>
                  <div><h4 class="success--text">{{ item.client_name }}</h4></div>
                  <template v-slot:input>
                    <div class="mt-4 title">Update Client Name</div>
                  </template>
                  <template v-slot:input>
                    <v-text-field
                      v-model="item.client_name"
                      label="Edit"
                      single-line
                      autofocus
                    ></v-text-field>
                  </template>
                </v-edit-dialog>
            </v-card-title>
            <v-divider></v-divider>
            <v-list>
              <v-list-item>
                <v-list-item-content>Last Modified:</v-list-item-content>
                <v-list-item-content class="align-end">{{ new Date(item.modified_time).toUTCString() }}</v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content><span>Client Status: </span></v-list-item-content>
                <v-list-item-content v-if="item.client_status === 1001" class="align-end"><span class="primary--text">Client Active</span></v-list-item-content>
                <v-list-item-content v-else class="align-end"><span class="secondary--text">Client Inactive</span></v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>Gross / Net:</v-list-item-content>
                <v-list-item-content class="align-end">{{ item.gross_or_net }}</v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>Recourse: </v-list-item-content>
                <v-list-item-content v-if="item.is_recourse" class="align-end">Recourse Client</v-list-item-content>
                <v-list-item-content v-else class="align-end">Non-Recourse Client</v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card>
          </v-col>
        </v-row>
      </template>
    </v-data-iterator>
    </div>
    <v-btn
      @click="showAddClientDiv"
      color="error"
      dark
      large
      fixed
      bottom
      right
      fab>
      <v-icon>mdi-plus</v-icon>
    </v-btn>

    <!-- Add Client Form -->
    <div id="addClientDiv" class="add-client-div transform">
      <v-card class="pa-4">
        <v-btn
          style="margin-left: -32px; margin-top: -45px;"
          @click="clear"
          text
          color="error"
          dark
          small
          fab>
          <v-icon>mdi-close-circle</v-icon>
        </v-btn>
        <v-card-title class="display-1">Add Client</v-card-title>
        <form>
          <v-text-field
            v-model="client_id"
            :error-messages="clientIdErrors"
            label="Client ID"
            required
            @input="$v.client_id.$touch()"
            @blur="$v.client_id.$touch()"
          ></v-text-field>
          <v-text-field
            v-model="client_name"
            :error-messages="clientNameErrors"
            label="Client Name"
            :counter="20"
            required
            @input="$v.client_name.$touch()"
            @blur="$v.client_name.$touch()"
          ></v-text-field>
          <v-text-field
            v-model="company_id"
            :error-messages="companyIdErrors"
            label="Company ID"
            required
            @input="$v.company_id.$touch()"
            @blur="$v.company_id.$touch()"
          ></v-text-field>
          <v-select
            :items="status"
            :error-messages="clientStatusErrors"
            v-model="client_status"
            label="Client Status"
            required
            @input="$v.client_status.$touch()"
            @blur="$v.client_status.$touch()">
          </v-select>
          <v-btn color="success" class="mr-4" @click="submit">submit</v-btn>
          <v-btn color="error" @click="clear">clear</v-btn>
        </form>
      </v-card>
    </div>

    <v-snackbar
      v-model="snackbar"
      color="success"
      :timeout="2000">
      {{ text }}
      <v-btn
        color="grey lighten-3"
        text
        @click="snackbar = false">
        Close
      </v-btn>
    </v-snackbar>

  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength } from 'vuelidate/lib/validators'
export default {
  mixins: [validationMixin],
  validations: {
    client_id: { required },
    client_name: { required, maxLength: maxLength(20) },
    company_id: { required },
    client_status: { required },
    gross_or_net: { required }
  },
  computed: {
    allClients () {
      return this.$store.getters['clients/getAllClients']
    },
    clientList () {
      return this.$store.getters['clients/getClientList']
    },
    clientIdErrors () {
      const errors = []
      if (!this.$v.client_id.$dirty) return errors
      !this.$v.client_id.required && errors.push('Client ID is required.')
      return errors
    },
    clientNameErrors () {
      const errors = []
      if (!this.$v.client_name.$dirty) return errors
      !this.$v.client_name.maxLength && errors.push('Client Name must be less than 10 characters long')
      !this.$v.client_name.required && errors.push('Client Name is required.')
      return errors
    },
    companyIdErrors () {
      const errors = []
      if (!this.$v.company_id.$dirty) return errors
      !this.$v.company_id.required && errors.push('Company ID is required.')
      return errors
    },
    clientStatusErrors () {
      const errors = []
      if (!this.$v.client_status.$dirty) return errors
      !this.$v.client_status.required && errors.push('Client Status is required.')
      return errors
    },
    fundingStatusErrors () {
      const errors = []
      if (!this.$v.gross_or_net.$dirty) return errors
      !this.$v.gross_or_net.required && errors.push('Funding Status is required.')
      return errors
    }
  },
  data () {
    return {
      tblSwitch: true,
      tblPerPage: 100,
      switchLabel: 'Table View',
      offset: 100,
      initialCount: 2000,
      remainder: 0,
      finished: false,
      snackbar: false,
      text: '',
      searchSync: null,
      search: '',
      client_id: '',
      client_name: '',
      company_id: '',
      client_status: '',
      status: ['Active', 'Inactive'],
      dictionary: {
        attributes: {
          email: 'E-mail Address'
          // custom attributes
        },
        custom: {
          clientName: {
            required: () => 'Name can not be empty',
            max: 'The name field may not be greater than 10 characters'
            // custom messages
          },
          select: {
            required: 'Select field is required'
          }
        }
      },
      itemsPerPageOptions: [4, 8, 12],
      itemsPerPage: 4
    }
  },
  async created () {
    this.$store.dispatch('clients/refreshClientList')
    await this.$store.dispatch('clients/getInitial')
  },
  mounted () {
    const tbl = document.getElementsByClassName('v-data-table__wrapper')
    if (tbl[0]) {
      tbl[0].addEventListener('scroll', this.onScroll)
    }
  },
  async updated () {
    let table = await document.getElementsByClassName('clients-tbl')
    for (let i = 0; i < table.length; i++) {
      await this.resizableGrid(table[i])
      let divs = await table[i].getElementsByClassName('columns-resize-bar')
      await this.setListeners(divs)
    }
  },
  methods: {
    async onScroll (e) {
      const offsetHeight = Number(e.target.offsetHeight)
      const scrollTop = Number(e.target.scrollTop)
      const scrollHeight = Number(e.target.scrollHeight)
      if (!this.finished) {
        if ((offsetHeight + scrollTop) >= (scrollHeight - 300)) {
          this.tblPerPage += this.offset
          if (this.tblPerPage < this.allClients.length) {
            await this.$store.commit('clients/setClientList', this.tblPerPage)
          } else {
            this.remainder = this.tblPerPage % this.allClients.length
            this.tblPerPage = this.tblPerPage - this.offset + this.remainder
            await this.$store.commit('clients/setClientList', this.tblPerPage)
            this.finished = true
          }
        }
      }
    },
    switchChanged () {
      if (this.tblSwitch) {
        this.switchLabel = 'Table View'
      } else {
        this.switchLabel = 'Data Iterator View'
      }
    },
    async clearedSearch () {
      this.finished = false
      const tbl = document.getElementsByClassName('v-data-table__wrapper')
      if (tbl[0]) {
        tbl[0].scrollTo(0, 0)
      }
      await this.$store.dispatch('clients/getInitial')
    },
    async autoComSearchClients () {
      this.finished = false
      this.tblPerPage = 100
      const search = {
        offset: 0,
        fetchVal: this.initialCount,
        clientName: this.search
      }
      const tbl = document.getElementsByClassName('v-data-table__wrapper')
      if (tbl[0]) {
        tbl[0].scrollTo(0, 0)
      }
      await this.$store.dispatch('clients/searchClients', search)
    },
    async enterKeySearchClients (val) {
      this.finished = false
      this.search = val.target._value
      this.tblPerPage = 100
      const search = {
        offset: 0,
        fetchVal: this.initialCount,
        clientName: val.target._value
      }
      const tbl = document.getElementsByClassName('v-data-table__wrapper')
      if (tbl[0]) {
        tbl[0].scrollTo(0, 0)
      }
      await this.$store.dispatch('clients/searchClients', search)
    },
    showAddClientDiv () {
      const el = document.getElementById('addClientDiv')
      if (el) {
        el.classList.add('transform-active')
      }
    },
    async submit () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        // success
        // const client = {
        //   client_id: this.client_id,
        //   client_name: this.client_name,
        //   company_id: this.company_id,
        //   client_status: (this.client_status === 'Active') ? '1001' : '1002'
        // }
        // const response = await this.$store.dispatch('clients/addClient', client)
        // console.log(response)
        this.text = this.client_name + ' added successfully!'
        this.snackbar = true
        const el = document.getElementById('addClientDiv')
        if (el) {
          el.classList.remove('transform-active')
        }
        this.clear()
      }
    },
    clear () {
      this.client_id = ''
      this.client_name = ''
      this.company_id = ''
      this.client_status = ''
      this.$v.$reset()
      const el = document.getElementById('addClientDiv')
      if (el) {
        el.classList.remove('transform-active')
      }
    },
    setListeners (divs) {
      var pageX, curCol, nxtCol, curColWidth, nxtColWidth
      for (let i = 0; i < divs.length; i++) {
        // console.log('added');
        divs[i].addEventListener('mousedown', (e) => {
          curCol = e.target.parentElement
          // console.log(curCol);
          nxtCol = curCol.nextElementSibling
          // console.log(nxtCol);
          pageX = e.pageX
          curColWidth = curCol.offsetWidth
          if (nxtCol) { nxtColWidth = nxtCol.offsetWidth }
        })
      }

      document.addEventListener('mousemove', (e) => {
        if (curCol) {
          var diffX = e.pageX - pageX

          if (nxtCol) {
            nxtCol.style.width = (nxtColWidth - (diffX)) + 'px'
          }

          curCol.style.width = (curColWidth + diffX) + 'px'
          // console.log(curColWidth + diffX + 'px');
        }
      })

      document.addEventListener('mouseup', (e) => {
        curCol = undefined
        nxtCol = undefined
        pageX = undefined
        nxtColWidth = undefined
        curColWidth = undefined
      })
    },
    createDiv () {
      let div = document.createElement('div')
      // div.style.top = 0;
      // div.style.right = 0;
      div.style.width = '5px'
      div.style.height = '25px'
      // div.style.position = 'absolute';
      div.style.cursor = 'col-resize'
      /* remove backGroundColor later */
      div.style.backgroundColor = 'red'
      div.style.userSelect = 'none'
      /* table height */
      // div.style.height = height+'px';
      return div
    },
    resizableGrid (table) {
      let row = table.getElementsByTagName('tr')[0]
      let cols = row ? row.children : undefined
      if (!cols) return
      // let divs = document.getElementsByClassName('columns-resize-bar');
      for (var i = 0; i < cols.length; i++) {
        // var div = this.createDiv();
        // cols[i].appendChild(div);
        cols[i].style.position = 'relative'
        // this.setListeners(div);
      }
    }
  }
}
</script>
<style>
.add-client-div {
  position: fixed;
  bottom: 0;
  right: -800px;
  margin-bottom: 25px;
  margin-right: 10px;
  padding: 10px;
  width: 600px;
  height: 83%;
  z-index: 999;
  display: block;
  color: black;
}
.transform {
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
}
.transform-active {
  right: 0px;
}
.dropdown-content{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.clients-tbl table tbody tr td {
  padding: 0.5em;
}
.clients-tbl {
  border-collapse: collapse;
  border-spacing: 0px;
}
.clients-tbl th {
  position: sticky !important;
  top: 0;
  border-left: 1px solid #ddd;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.46) !important;
}
.clients-tbl,th:first-child {
  border: none;
}
.columns-resize-bar {
  margin-left: auto;
  margin-top: -25px;
  margin-right: -25px;
  width: 20px;
  height: 25px;
  cursor: ew-resize;
  user-select: none;
}
</style>
